
#header{
    background-color: #333333;
    height: 50px;
    margin-bottom: 0px;
}

#header h1{
    margin: 0;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

#box-cadastro{
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

#main{
    margin-top: 15px;
    margin-bottom: 10px;
}

#box-table {
    margin-top: 15px;
}

#filtrar-tabela{
    height: 25px;
    padding: 5px;
    color: #000;
    font-size: 12px;
}

#mensagem-erros{
    font-size: 12px;
    color: #ff0000;
    border: 1px solid #ff0000;
    margin: 15px;
    margin-top: 0px;
    padding: 5px;
    padding-left: 30px;
    display: none;
}

.mostrar{
    display: block;
}

.elementoComErro{
    border: 1px solid #ff0000;
}

.elementoSemErro{
    border: 1px solid #ff0000;
}

.invisivel{
    display: none;
}

#botao-editar{
    display: none;
}